body {
  background: #121212;
  color: #fff;
}

hr {
  background: #fff;
}

#SMA {
  color: #b31b1b;
  top: 0px;
  font-weight: bold;
}

.btn {
  background-color: #b31b1b;
  border: 2px solid #b31b1b;
  color: #fff;
}

.btn:hover {
  background-color: rgba(0,0,0,0);
  border: 2px solid #b31b1b;
  color: #b31b1b;
}

.headerBar {
  background: #fff;
  padding: 8px;
}

.headerBar h1 a {
  position: absolute;
  text-decoration: none;
  color: inherit;
}

.mainContent > .card {
  background: #232323;
  margin-top: 32px;
  border-radius: 8px;
  padding: 8px;
}

table#processTable.table th, table#processTable.table td {
  background-color: rgba(0, 0, 0, 0);
}

.login-card {
  margin-top: 40%;
}

form#loginForm {
  margin: 16px;
}

form#loginForm button {
  margin: 16px 0px 0px 0px;
  width: 100%;
}
