#dashboard {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Changed to lighter color for visibility */
    padding: 20px;
    color: #333;
}

.section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333; /* Ensuring text color is dark for readability */
}

.section h2 {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333; /* Text color for the section headers */
}

/* Adjustments for individual sections */
#cpu-section, #memory-section, #disk-section, #process-section {
    /* Add any specific styles for sections here if needed */
}

/* Add any additional styling for charts, bars, and tables */

.table-style {
    width: 100%;
    border-collapse: collapse;
}

.table-style th, .table-style td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-style th {
    background-color: #333;
    color: #fff;
}

/* For the progress bars */
.progress-bar-container {
    background-color: #e1e1e1;
    border-radius: 4px;
}

.progress-bar {
    height: 20px;
    border-radius: 4px;
    background-color: #4CAF50;
    width: 0%; /* This will be dynamically set with inline styles or JavaScript */
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
    color: #fff; /* Text color inside the progress bar */
}
