{% extends 'base.html' %}

{% block content %}
{% include 'navigation.html' %}
{{ cpu_script | safe }}
{{ mem_script | safe }}
<div class="mainContent">
  <div class="cpuContainer container card">
    <div class="row">
      <div class="col-12">
        <h1>CPU</h1>
      </div>
    </div>
    <div class="row">
      <div class="">
        <div id="cpuSpeedChart">
          {{ cpu_div | safe }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Usage:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuUsage"></span><span> %</span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Speed:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuSpeed"></span><span> GHz</span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Up-time:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuUptime"></span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Physical #:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuPhysical"></span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Logical #:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuLogical"></span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="memContainer container card">
    <div class="row">
      <div class="col-12">
        <h1>Memory</h1>
      </div>
    </div>
    <div class="row">
      <div class="">
        <div id="memSpeedChart">
          {{ mem_div | safe }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h2>Usage:</h2>
      </div>
      <div class="col-sm-8 col-md-4">
        <h3><span id="memPercent"></span><span> %</span></h3>
      </div>
      <div class="col-5 d-sm-none d-md-block"></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h2>In use:</h2>
      </div>
      <div class="col-sm-8 col-md-4">
        <h3><span id="memUsed"></span><span> GB</span></h3>
      </div>
      <div class="col-5 d-sm-none d-md-block"></div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h2>Available:</h2>
      </div>
      <div class="col-sm-8 col-md-4">
        <h3><span id="memTotal"></span><span> GB</span></h3>
      </div>
      <div class="col-5 d-sm-none d-md-block"></div>
    </div>
  </div>

  <div id="diskWrapper" class="diskContainer container card">
  </div>

  <div class="processContainer container card">
    <div class="row">
      <div class="col-12">
        <h1>Process</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table id="processTable" class="table">
          <thead>
            <tr>
              <th scope="col">PID</th>
              <th scope="col">Name</th>
              <th scope="col">Memory %</th>
              <th scope="col">CPU %</th>
              <th scope="col">CPU Time</th>
              <th scope="col">Created Time</th>
            </tr>
          </thead>
          <tbody id="processTableBody"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  // CPU data visualization
  window.onload = function() {
    const cpuPhysical = document.getElementById('cpuPhysical');
    const cpuLogical = document.getElementById('cpuLogical');
    const cpuSpeed = document.getElementById('cpuSpeed');
    const cpuUsage = document.getElementById('cpuUsage');
    const cpuUptime = document.getElementById('cpuUptime');

    const cpu_plot = Bokeh.documents[0].get_model_by_name('cpu_usage');
    const cpu_line = cpu_plot.renderers[0];

    const cpuStream = new EventSource('/cpu-stream');
    cpuStream.onmessage = function(event) {
      cpuData = JSON.parse(event.data);
      console.log(cpuData);

      cpuPhysical.innerText = cpuData.physical;
      cpuLogical.innerText = cpuData.logical;
      cpuSpeed.innerText = cpuData.speed;
      cpuUsage.innerText = cpuData.usage;
      cpuUptime.innerText = cpuData.uptime;
      cpu_line.data_source.data['y'] = cpuData.y_values;
      cpu_line.data_source.change.emit();
    };

    // Memory data visualization
    const memTotal = document.getElementById('memTotal');
    const memUsed = document.getElementById('memUsed');
    const memPercent = document.getElementById('memPercent');

    const mem_plot = Bokeh.documents[1].get_model_by_name('mem_usage');
    const mem_line = mem_plot.renderers[0];

    const memStream = new EventSource('/memory-stream');
    memStream.onmessage = function(event) {
      memData = JSON.parse(event.data);
      console.log(memData);

      memTotal.innerText = memData.total;
      memUsed.innerText = memData.used;
      memPercent.innerText = memData.percent;
      mem_line.data_source.data['y'] = memData.y_values;
      mem_line.data_source.change.emit();
    };
  }

  // Disk data visualization
  const diskStream = new EventSource('/disk-stream');
  diskStream.onmessage = function(event) {
    let diskContainer = document.getElementById("diskWrapper");
    diskContainer.innerHTML = "";

    diskData = JSON.parse(event.data);
    diskData.forEach((disk) => {
      diskContainer.innerHTML += '<div class="row"><div class="col-12"><h1>Disk: ' + disk.mountpoint + '</h1></div></div>' +
          '<div class="row"><div class="col-sm-4 col-md-3"><h2>Capacity:</h2></div><div class="col-sm-8 col-md-4"><h3>' + disk.total + ' GB</h3></div><div class="col-5 d-sm-none d-md-block"></div></div>' +
          '<div class="row"><div class="col-sm-4 col-md-3"><h2>Used:</h2></div><div class="col-sm-8 col-md-4"><h3>' + disk.used + ' GB</h3></div><div class="col-5 d-sm-none d-md-block"></div></div>' +
          '<div class="row"><div class="col-sm-4 col-md-3"><h2>Percent:</h2></div><div class="col-sm-8 col-md-4"><h3>' + disk.percent + ' %</h3></div><div class="col-5 d-sm-none d-md-block"></div></div><hr>';
    });
  };

  // Process data visualization
  const processStream = new EventSource('/process-stream');
  processStream.onmessage = function(event) {
    let processTable = document.getElementById("processTableBody");
    processTable.innerHTML = "";

    processData = JSON.parse(event.data);
    processData.forEach((process) => {
      processTable.innerHTML += '<tr><td>' + process.name + '</td><td>' + process.pid + '</td><td>' +
          process.memory_percent + '</td><td>' + process.cpu_percent + '</td><td>' + process.cpu_times +
          '</td><td>' + process.create_time + '</td></tr>';
    });
  };
</script>
{% endblock %}
