{% extends 'base.html' %}

{% block content %}
{% include 'navigation.html' %}
{{ cpu_usage.script | safe}}
{{ mem_usage.script | safe }}
<div class="mainContent">
  <div class="cpuContainer container card">
    <div class="row">
      <div class="col-12">
        <h1>CPU</h1>
      </div>
    </div>
    <div class="row">
      <div id="cpuSpeedChart">
        {{ cpu_usage.div | safe }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Usage:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuUsage"></span><span> %</span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Speed:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuSpeed"></span><span> GHz</span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Up-time:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuUptime"></span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Physical #:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuPhysical"></span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <h2>Logical #:</h2>
          </div>
          <div class="col-sm-8 col-md-4">
            <h3><span id="cpuLogical"></span></h3>
          </div>
          <div class="col-5 d-sm-none d-md-block"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="memContainer container card">
    <div class="row">
      <div class="col-12">
        <h1>Memory</h1>
      </div>
    </div>
    <div class="row">
      <div id="memSpeedChart">
        {{ mem_usage.div | safe }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h2>Usage:</h2>
      </div>
      <div class="col-sm-8 col-md-4">
        <h3><span id="memPercent"></span><span> %</span></h3>
      </div>
      <div class="col-5 d-sm-none d-md-block"></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h2>In use:</h2>
      </div>
      <div class="col-sm-8 col-md-4">
        <h3><span id="memUsed"></span><span> GB</span></h3>
      </div>
      <div class="col-5 d-sm-none d-md-block"></div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <h2>Available:</h2>
      </div>
      <div class="col-sm-8 col-md-4">
        <h3><span id="memTotal"></span><span> GB</span></h3>
      </div>
      <div class="col-5 d-sm-none d-md-block"></div>
    </div>
  </div>

  <div id="diskWrapper" class="diskContainer container card">
  </div>

  <div class="processContainer container card">
    <div class="row">
      <div class="col-12">
        <h1>Process</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table id="processTable" class="table">
          <thead>
            <tr>
              <th scope="col">PID</th>
              <th scope="col">Name</th>
              <th scope="col">Memory %</th>
              <th scope="col">CPU %</th>
              <th scope="col">System Time</th>
              <th scope="col">Created Time</th>
            </tr>
          </thead>
          <tbody id="processTableBody"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
function waitForBokeh(callback) {
    obj = window['Bokeh'];
    docs = obj.documents;
    if (docs.length == 2) {
        callback();
    } else {
        setTimeout(function() { waitForBokeh(callback) }, 100);
    }
}

const getBokehDoc = (title) => Bokeh.documents.find(obj => obj._title === title);

window.onload = function() {
    waitForBokeh(function() {
        // CPU data visualization
        const cpuPhysical = document.getElementById('cpuPhysical');
        const cpuLogical = document.getElementById('cpuLogical');
        const cpuSpeed = document.getElementById('cpuSpeed');
        const cpuUsage = document.getElementById('cpuUsage');
        const cpuUptime = document.getElementById('cpuUptime');
        const cpu_plot = getBokehDoc('cpu_usage').get_model_by_name('cpu_usage');
        const cpu_line = cpu_plot.renderers[0];

        // Memory data visualization
        const memTotal = document.getElementById('memTotal');
        const memUsed = document.getElementById('memUsed');
        const memPercent = document.getElementById('memPercent');
        const mem_plot = getBokehDoc('mem_usage').get_model_by_name('mem_usage');
        const mem_line = mem_plot.renderers[0];

        const metricDataStream = new EventSource('/api/metrics/realtime');
        metricDataStream.onmessage = function(event) {
            metricData = JSON.parse(event.data);

            cpuData = metricData.cpu;
            cpuPhysical.innerText = cpuData.physical;
            cpuLogical.innerText = cpuData.logical;
            cpuSpeed.innerText = cpuData.speed;
            cpuUsage.innerText = cpuData.usage;
            cpuUptime.innerText = cpuData.uptime;
            cpu_line.data_source.data['y'] = cpuData.y_values;
            cpu_line.data_source.change.emit();

            memData = metricData.memory;
            memTotal.innerText = memData.total;
            memUsed.innerText = memData.used;
            memPercent.innerText = memData.percent;
            mem_line.data_source.data['y'] = memData.y_values;
            mem_line.data_source.change.emit();

            let diskContainer = document.getElementById("diskWrapper");
            diskContainer.innerHTML = "";
            diskData = metricData.disk;
            diskData.forEach((disk) => {
              diskContainer.innerHTML += '<div class="row"><div class="col-12"><h1>Disk: ' + disk.mountpoint + '</h1></div></div>' +
                  '<div class="row"><div class="col-sm-4 col-md-3"><h2>Capacity:</h2></div><div class="col-sm-8 col-md-4"><h3>' + disk.total + ' GB</h3></div><div class="col-5 d-sm-none d-md-block"></div></div>' +
                  '<div class="row"><div class="col-sm-4 col-md-3"><h2>Used:</h2></div><div class="col-sm-8 col-md-4"><h3>' + disk.used + ' GB</h3></div><div class="col-5 d-sm-none d-md-block"></div></div>' +
                  '<div class="row"><div class="col-sm-4 col-md-3"><h2>Percent used:</h2></div><div class="col-sm-8 col-md-4"><h3>' + disk.percent + ' %</h3></div><div class="col-5 d-sm-none d-md-block"></div></div><hr>';
            });

            let processTable = document.getElementById("processTableBody");
            processTable.innerHTML = "";
            processData = metricData.process;
            processData.forEach((process) => {
              processTable.innerHTML += '<tr><td>' + process.name + '</td><td>' + process.pid + '</td><td>' +
                  process.memory_percent + '</td><td>' + process.cpu_percent + '</td><td>' + process.cpu_times[1] +
                  '</td><td>' + process.create_time + '</td></tr>';
            });
        };
    });
}
</script>
{% endblock %}
