{% extends 'base.html' %}

{% block content %}
{% include 'navigation.html' %}
<div class="mainContent">
  <div class="cpuContainer container">
    <div class="row">
      <div class="col-12">
        <h1>CPU</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
        <div class="row">
          <div class="col-3">
            <h2>Physical Count:</h2>
          </div>
          <div class="col-9">
            <h3><span id="cpuPhysical">{{ cpu.physical }}</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <h2>Logical Count:</h2>
          </div>
          <div class="col-9">
            <h3><span id="cpuLogical">{{ cpu.logical }}</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <h2>Speed:</h2>
          </div>
          <div class="col-9">
            <h3><span id="cpuSpeed">{{ cpu.speed }}</span><span> GHz</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <h2>Up-time:</h2>
          </div>
          <div class="col-9">
            <h3><span id="cpuUptime">{{ cpu.uptime }}</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="memContainer container">
    <div class="row">
      <div class="col-12">
        <h1>Memory</h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <h2>Available:</h2>
      </div>
      <div class="col-9">
        <h3><span id="memTotal">{{ memory.total }}</span><span> GB</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h2>Used:</h2>
      </div>
      <div class="col-9">
        <h3><span id="memUsed">{{ memory.used }}</span><span> GB</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h2>Percent:</h2>
      </div>
      <div class="col-9">
        <h3><span id="memPercent">{{ memory.percent }}</span><span> %</span></h3>
      </div>
    </div>
  </div>

  <div id="diskWrapper" class="diskContainer container">
  </div>

  <div class="processContainer container">
    <div class="row">
      <div class="col-12">
        <h1>Process</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">PID</th>
              <th scope="col">User</th>
              <th scope="col">CPU</th>
              <th scope="col">Memory</th>
              <th scope="col">Disk</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>ROOT</td>
              <td>34%</td>
              <td>58 MB</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>2</td>
              <td>ROOT</td>
              <td>11%</td>
              <td>2.3 GB</td>
              <td>2%</td>
            </tr>
            <tr>
              <td>3</td>
              <td>ROOT</td>
              <td>28%</td>
              <td>11 MB</td>
              <td>0%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  const cpuPhysical = document.getElementById('cpuPhysical');
  const cpuLogical = document.getElementById('cpuLogical');
  const cpuSpeed = document.getElementById('cpuSpeed');
  const cpuUptime = document.getElementById('cpuUptime');

  const cpuStream = new EventSource('/cpu-stream');
  cpuStream.onmessage = function(event) {
    cpuData = JSON.parse(event.data);

    cpuPhysical.innerText = cpuData.physical;
    cpuLogical.innerText = cpuData.logical;
    cpuSpeed.innerText = cpuData.speed;
    cpuUptime.innerText = cpuData.uptime;
  };

  const memTotal = document.getElementById('memTotal');
  const memUsed = document.getElementById('memUsed');
  const memPercent = document.getElementById('memPercent');

  const memStream = new EventSource('/mem-stream');
  memStream.onmessage = function(event) {
    memData = JSON.parse(event.data);

    memTotal.innerText = memData.total;
    memUsed.innerText = memData.used;
    memPercent.innerText = memData.percent;
  };

  const diskStream = new EventSource('/disk-stream');
  diskStream.onmessage = function(event) {
    let diskContainer = document.getElementById("diskWrapper");
    diskContainer.innerHTML = "";

    diskData = JSON.parse(event.data);
    diskData.forEach((disk) => {
      diskContainer.innerHTML += '<div class="row"><div class="col-12"><h1>Disk:' + disk.mountpoint + '</h1></div></div>' +
      '<div class="row"><div class="col-3"><h2>Capacity:</h2></div><div class="col-9"><h3>' + disk.total + ' GB</h3></div></div>' +
      '<div class="row"><div class="col-3"><h2>Used:</h2></div><div class="col-9"><h3>' + disk.used + ' GB</h3></div></div>' +
      '<div class="row"><div class="col-3"><h2>Percent:</h2></div><div class="col-9"><h3>' + disk.percent + ' %</h3></div></div><hr>';
    });
  };
</script>
{% endblock %}
