<div class="headerBar">
  <div class="container">
    <div class="row">
      <div class="col-2 d-flex flex-column align-items-center align-items-stretch justify-content-center h-auto d-inline-block">
        <h1 id="SMA"><a href="/">SMA</a></h1>
      </div>
      <div class="col-2 d-flex flex-column align-items-center align-items-stretch justify-content-center h-auto d-inline-block">
        <a href="/" type="button" class="btn" name="button">Live View</a>
      </div>
      <div class="col-2 d-flex flex-column align-items-center align-items-stretch justify-content-center h-auto d-inline-block">
        <a href="/reports" type="button" class="btn" name="button">Reports</a>
      </div>
      <div class="col-4"></div>
      <div class="col-2 d-flex flex-column align-items-center align-items-stretch justify-content-center h-auto d-inline-block">
        <a href="/login" type="button" class="btn float-end" name="button">Login</a>
      </div>
    </div>
  </div>
</div>
