<!-- templates/register.html -->
{% extends 'base.html' %}

{% block content %}
<div class="mainContent">
    <div id="registerContainer" class="container">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-sm-12 col-md-8 col-lg-6 container card">
                <form id="registerForm" action="/register" method="post">
                    <h1>Create Account</h1>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ username }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="row">
                      <div class="col-12">
                          <button type="submit" class="btn btn-primary" id="registerBtn">Register</button>
                      </div>
                    </div>
                    <a href="/login" class="loginLink float-end">Login</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
