{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}
<div class="mainContent">
  <div class="container card">
    <div class="row">
      <div class="col-12">
        <h1>Generate PDF Report</h1>
      </div>
    </div>
    <form action="/reports" method="post">
      <div class="row">
        <div class="col-12">
          <hr>
          <div class="row">
            <div class="col-2">
              <h2>Start Date:</h2>
            </div>
            <div class="col-4">
              <input type="date" name="start_date" value="">
            </div>
            <div class="col-2">
              <h2>End Date:</h2>
            </div>
            <div class="col-4">
              <input type="date" name="end_date" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="float-end">
            <button type="submit" class="btn">Download</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script type="text/javascript">
    window.onload = function() {
      if (typeof({{ systemMetrics }}) != typeof(undefined) && typeof({{ processMetrics }}) != typeof(undefined)) {
        const systemMetrics = {{ systemMetrics | tojson }};
        const processMetrics = {{ processMetrics | tojson }};
        const processes = {{ processes | tojson }};
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();
        const systemColumns = ["Timestamp", "CPU Usage", "Memory Usage", "Disk Usage"];
        const processColumns = ["PID", "Timestamp", "CPU Usage", "Memory Usage"];
        const systemOptions = {
          startY: 20,
          theme: 'grid',
        };
        const processOptions = {
          startY: 20,
          theme: 'grid',
          headStyles: {fillColor : [124, 95, 240]},
        };
        doc.autoTable(systemColumns, systemMetrics, systemOptions);
        doc.autoTable(processColumns, processMetrics, processOptions);
        doc.save('table.pdf');
      }
    }
  </script>
</div>
{% endblock %}
