{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}
<div class="mainContent">
  <div class="container card">
    <div class="row">
      <div class="col-12">
        <h1>Generate PDF Report</h1>
      </div>
    </div>
    <form action="/reports" method="post">
      <div class="row">
        <div class="col-12">
          <hr>
          <div class="row">
            <div class="col-2">
              <h2>Start Date:</h2>
            </div>
            <div class="col-4 d-flex align-items-center">
              <input type="date" name="start_date" value="">
            </div>
            <div class="col-2">
              <h2>End Date:</h2>
            </div>
            <div class="col-4 d-flex align-items-center">
              <input type="date" name="end_date" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="float-end">
            <button type="submit" class="btn">Download</button>
          </div>
        </div>
      </div>
      <div class="error">
        <p>{{ error }}</p>
      </div>
    </form>
  </div>
  <script type="text/javascript">
    function getDateTime(utcTimestamp) {
      const dateObj = new Date(utcTimestamp * 1000);
      return [dateObj.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }),
              dateObj.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' })];
    }

    window.onload = function() {
      if (typeof({{ systemMetrics }}) != typeof(undefined) && typeof({{ processMetrics }}) != typeof(undefined)) {
        const systemMetrics = {{ systemMetrics | tojson }};
        const processMetrics = {{ processMetrics | tojson }};
        const processes = {{ processes | tojson }};

        systemMetrics.forEach((row, index) => {
          const [fDate, fTime] = getDateTime(row[0]);
          systemMetrics[index][0] = fDate;
          systemMetrics[index].splice(1, 0, fTime)
        });
        processMetrics.forEach((row, index) => {
          const [fDate, fTime] = getDateTime(row[1]);
          processMetrics[index].splice(0, 0, fTime);
          processMetrics[index].splice(0, 0, fDate);
          processMetrics[index].splice(3, 0, processes[row[2]]);
        });

        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();
        const systemColumns = ["Date", "Time", "CPU Usage", "Memory Usage", "Disk Usage"];
        const processColumns = ["Date", "Time", "PID", "Name", "CPU Usage", "Memory Usage"];
        const systemOptions = {
          startY: 20,
          theme: 'grid',
        };
        const processOptions = {
          startY: 20,
          theme: 'grid',
          headStyles: {fillColor: [124, 95, 240]},
        };
        doc.autoTable(systemColumns, systemMetrics, systemOptions);
        doc.autoTable(processColumns, processMetrics, processOptions);
        doc.save('sma_metric_report.pdf');
      }
    }
  </script>
</div>
{% endblock %}
